.section_one{
  padding:181px 0px;
  background:url("./image 46.png");
  background-repeat:no-repeat;
 
 
  background-size:cover;
  position: relative;

}
.section_one ::after{
    background-image:url("./Background_After.png");
    position: absolute;
    content: "";
    top: 0;
    
    
    right: 0;
    z-index:-2;
   

    height:100%;
    width:100%;
    background-repeat: no-repeat;
    max-width:630px;
    pointer-events: none;
 
    opacity: 0.8;
   
}
.section_one .section_one_content p{
    color:#FFFFFF;

}
.section_one .section_one_content button{
    border:0px;

   
}
.section_two .section_two_content{
   
    display:flex;
 
    gap:90px;
    margin-top:139px;
  }
.section_two .section_two_content .left_column{
  
   max-width:287px;
}
.section_two .section_two_content .right_column{
    max-width:717px;
 }
.section_two .section_two_content button{
    border:0px;

}
.section_three .section_three_content{
    padding-top:120px;
    margin-left:auto;
    margin-right:auto;
    max-width:945px;
   
}


.section_three .section_three_content .middle_content .box{
    border:1px solid #E6E6E6;
    display:flex;
    gap:10px;
    

}

.section_three .section_three_content .middle_content {
    flex-basis:40%;
    gap:35px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width:100%;
   
    
}
.section_three .section_three_content .middle_content .box  .img {
    width:100%;
}
.section_four .section_four_content{
   
    display:flex;
 
    gap:50px;
    padding-top:148px;
    padding-left:110 px;
  }
.section_four .section_four_content .left_column{
  max-width:350px;
    
 }
.section_four .section_four_content .right_column{
    max-width:700px;
 }





@media (max-width: 461px) {
.section_one .section_one_content h1,p{
    font-size:10px;
    
   

}
}


   

