@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  margin: 0px auto;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 600;
  size: 56px;
  line-height: 64px;
  letter-spacing: -2%;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}
